In [12]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [23]:
import os

In [24]:
data_dir = '/Users/jzhang14/python_notebooks/pydata-book/'

In [9]:
!pwd

/Users/jzhang14/python_notebooks/PyDataLean

In [2]:
folder = '/Users/jzhang14/python_notebooks/pydata-book/'

In [8]:
!cd /Users/jzhang14/python_notebooks/pydata-book

In [11]:
!cat /Users/jzhang14/python_notebooks/pydata-book/ch06/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [25]:
ch06_ex1_csv = os.path.join(data_dir, 'ch06/ex1.csv')

In [26]:
df = pd.read_csv(ch06_ex1_csv)

In [27]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [28]:
pd.read_table(ch06_ex1_csv, sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [29]:
ch06_ex2_csv = os.path.join(data_dir, 'ch06/ex2.csv')

In [31]:
ch06_ex2_csv

'/Users/jzhang14/python_notebooks/pydata-book/ch06/ex2.csv'

In [32]:
!cat /Users/jzhang14/python_notebooks/pydata-book/ch06/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [33]:
pd.read_csv(ch06_ex2_csv, header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [34]:
pd.read_csv(ch06_ex2_csv, names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [38]:
names = ['a', 'b', 'c', 'd', 'message']

In [39]:
pd.read_csv(ch06_ex2_csv, names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [40]:
ch06_mindex_csv = os.path.join(data_dir, 'ch06/csv_mindex.csv')

In [41]:
ch06_mindex_csv

'/Users/jzhang14/python_notebooks/pydata-book/ch06/csv_mindex.csv'

In [42]:
!cat /Users/jzhang14/python_notebooks/pydata-book/ch06/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [43]:
parsed = pd.read_csv(ch06_mindex_csv, index_col=['key1', 'key2'])

In [44]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [45]:
ex3_txt = os.path.join(data_dir, 'ch06/ex3.txt')

In [46]:
list(open(ex3_txt))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [47]:
result = pd.read_table(ex3_txt, sep='\s+')

In [48]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [49]:
ex4_csv = os.path.join(data_dir, 'ch06/ex4.csv')

In [50]:
ex4_csv

'/Users/jzhang14/python_notebooks/pydata-book/ch06/ex4.csv'

In [51]:
!cat /Users/jzhang14/python_notebooks/pydata-book/ch06/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [52]:
pd.read_csv(ex4_csv, skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [53]:
ex5_csv = os.path.join(data_dir, 'ch06/ex5.csv')

In [54]:
ex5_csv

'/Users/jzhang14/python_notebooks/pydata-book/ch06/ex5.csv'

In [55]:
!cat /Users/jzhang14/python_notebooks/pydata-book/ch06/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [56]:
result = pd.read_csv(ex5_csv)

In [57]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [58]:
pd.isnull(result)

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False